.PlatformCard--container {
  display: flex;
  flex-direction: column;
  background-color: var(--card-bg);
  justify-content: center;
  align-items: center;
  min-width: 250px;
  max-width: 350px;
  min-height: 210px;
  padding: 0px 20px;
  border-radius: 5px;
  margin: 15px;
  position: relative;
}

.PlatformCard--container:hover {
  background-color: var(--card-bg-hover);
  cursor: pointer;
}

.PlatformCard--container::before {
  content: "";
  height: 5px;
  width: 100%;
  position: absolute;
  top: -3px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.PlatformCard--twitter::before {
  background: var(--twitter);
}

.PlatformCard--youtube::before {
  background: var(--youtube);
}

.PlatformCard--facebook::before {
  background: var(--facebook);
}

.PlatformCard--instagram::before {
  background: var(--instagram);
}

.PlatformCard--container > * {
  margin: 5px;
}

.PlatformCard--platform-username {
  display: flex;
}

.PlatformCard--username {
  font-weight: bold;
  color: var(--text-secondary);
  margin-left: 5px;
}

.PlatformCard--stat {
  font-size: 38px;
  font-weight: bold;
  color: var(--text-primary);
}

.PlatformCard--title {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: lighter;
  color: var(--text-primary);
  opacity: 0.6;
}

.PlatformCard--trend-up {
  color: var(--lime-green);
  font-weight: bold;
}

.PlatformCard--trend-up::before {
  content: "▴ ";
}

.PlatformCard--trend-down {
  color: var(--bright-red);
  font-weight: bold;
}

.PlatformCard--trend-down::before {
  content: "▾ ";
}
