.PlatformContainer--container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 700px) {
  .PlatformContainer--container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
