body {
  margin: 0;
  padding: 20px 20px 0 20px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
}

.theme-light {
  --bg-color: hsl(0, 0%, 100%);
  --pattern-bg: hsl(225, 100%, 98%);
  --card-bg: hsl(227, 47%, 96%);
  --text-secondary: hsl(228, 12%, 44%);
  --text-primary: hsl(230, 17%, 14%);
}

.theme-dark {
  --bg-color: hsl(230, 17%, 14%);
  --pattern-bg: hsl(232, 19%, 15%);
  --card-bg: hsl(228, 28%, 20%);
  --text-secondary: hsl(228, 34%, 66%);
  --text-primary: hsl(0, 0%, 100%);
}
